@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply shadow-md py-3 text-xs px-6 min-w-[7rem] rounded-md transition duration-300;
}

.btn-purple {
    @apply bg-bkpurple text-white;
}

.btn-deepblue {
    @apply bg-bkdeepblue text-white;
}

.btn-white {
    @apply bg-bkwhite;
}

.inputs {
    @apply py-2 px-5 rounded shadow-md outline-none text-xs text-bkgrey
}

p {
    @apply text-xs
}

.auth-active {
    @apply bg-bkpurple text-xs text-white shadow-md py-3 px-6 rounded-md transition duration-300;
}

.auth-submit {
    @apply bg-bkgrey text-xs text-white shadow-md py-3 px-6 rounded-md transition duration-300;
}

.dash-btn{
    @apply bg-bkpurple text-bkred
}

/* .still-good{
    @apply 'border bg-transparent focus:outline-none border-bkpurple mb-2 w-full p-2 rounded-md placeholder: text-xs'
} */

.good{
    border-radius: 0.375rem;
    border: 1px rgba(82,103,223) solid;
    padding: 0.5rem;
    background: transparent;
    margin-bottom: 0.5rem;
    width: 100%;
    line-height: 1rem;
    font-size:0.75rem;
}

.good::placeholder{
    font-size:0.75rem;
    line-height:1rem;
}

.good:focus, .bad:focus{
    outline: none;
}

.bad{
    border-radius: 0.375rem;
    border: 1px rgba(250, 89, 89) solid;
    padding:  0.5rem;
    background: transparent;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size:0.75rem;
    line-height: 1rem
}

.bad::placeholder{
    font-size:0.75rem;
    line-height:1rem;
}

#card:hover #name-tag{
    opacity: 0;
    top: 0;
}

#card:hover #tag{
    top : 50%;
}


body {
    @apply bg-bkwhite 
}